@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: Roboto, sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-around;
}

.h-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
    align-self: center;
}

ul {
    display: flex;
    list-style: none;
    gap: 8px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}

.links {
    font-size: 18px;
}

.above-head {
    background-color: #1F2937;
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    padding-bottom: 120px;
}

.l1-head {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.l1-sub {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 10px;
}

.sign {
    border: none;
    border-radius: 8px;
    background-color: #3882F6;
    color: white;
    font-size: 16px;
    font-weight: bolder;
    padding: 8px;
    padding-left: 30px;
    padding-right: 30px;
}

.img-holder {
    display: flex;
    background-color: rgb(104, 104, 104);
    align-self: center;
    color: white;
    padding: 80px;
}

.title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    padding: 40px;
}

.middle {
    display: flex;
    justify-content: center;
    gap: 45px;
    margin-bottom: 120px;
}

.box {
    border-width: 4px;
    border-style: solid;
    border-color: #3882F6;
    padding: 50px;
    padding-top: 100px;
    border-radius: 20px;
}

.text {
    margin-top: 10px;
    text-align: center;
    font-size: 18px;
    color: rgb(79, 81, 83);
}